.Arnaud {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Arial";
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.dorian_card {
    /* nothing yet */
}